.task-list-item {
    display: flex;
    justify-content: center;
}

/*Changes to the text if checkbox is clicked */

.checkbox-toggle {
    color: white;
    text-decoration: line-through;
}

/* Style of delete button */

.delete-button {
    display: flex;
    margin: 20px 30px;
    cursor: pointer;
    border-radius: 10px;
    border:solid 2px black;
    height: 20px;
    width: 70px;  
    background-color:rgb(164, 22, 26); 
    color: white;
  }

/* delete button hover changes */

.delete-button:hover {
    background-color:rgb(120, 0, 0);
    /* transform: rotate(360deg);
    transition-duration: 1s; */
}
/* Text */

h1 {
    display:flex;
    justify-content: left;
    padding: 2px 2px;
    font-family: Verdana;
    font-weight: lighter;
    text-decoration: underline;
}
p {
    display:flex;
    justify-content: left;
    padding: 2px 2px;
    font-family: Verdana;
    font-weight: lighter;
    /* background-color: rgb(38, 70, 83);
    border: solid 1px black;
    border-radius: 4px; */
}

label {
    display: flex;
    justify-content: left;
    font-family: Verdana;
    margin: 5px 5px;
}

.task-input {
    display:flex;
    justify-content: left;
    font-family: verdana;
}

body {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(58, 134, 255)
}

/* li{

} */

